@import './scss/helpers/__preloder';
@import './scss/helpers/__typewritter'; 
@import './scss/helpers/__clouds'; 
@import './scss/helpers/__colors'; 
@import './scss/modules/__mixins';
@import './scss/modules/__variables'; 
@import './scss/helpers/__fonts'; 
*{ 
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif !important;
}
body {
	overflow: hidden;
}
.app {
   @include appbg;
}
.app h1 {
	margin: 10% 0 3% 0;
}
.sunimage {
	margin: 20px 0 21px 0;
}
.whole {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 17% 0 0 0;
}
.preloader {
    z-index: 9999;
    position: absolute;
    background: #fff;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
}
.rain {
	margin-top: 70px;
	margin-left: 0px;
}
#sun {
    left: 50%;
    top: 35%;
}


