@import '../css/sass/reset/__reset';
@import '../css/sass/fonts/__font';
@import '../css/sass/helpers/__preloder';
@import '../css/sass/helpers/__typewritter';
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.ballTextApp  {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
}
.app {
    border: 4px solid lightblue;
    border-radius: 10px;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    width: 50%;
    height: 655px;
    margin: -35px auto;
    background: #2c388c;
    h1 {
        text-align: center;
        margin: 22% auto;
        color: #fff;
    }
}
.firstCloud {
    margin-left: 3%;
    margin-top: 29px;
}

.secondCloud {
    margin-top: 10%;
    margin-left: 15%;
}

.thirdCloud {
    margin-top: 1%;
    margin-left: 33%;
}
.fourthCloud {
    margin-top: 10%;
    margin-left: 48%;
}
.fivethCloud {
    margin-left: 66%;
}
.sixCloud {
    margin-left: 78%;
    margin-top: 10%;
}
.seventhCloud {
    margin-top: 26%;
    margin-left: 3%;
}
.eightCloud {
    margin-top: 26%;
    margin-left: 36%;
}
.ninethCloud {
    margin-top: 39%;
    margin-left: 19%;
}
.tenCloud {
    margin-top: 39%;
    margin-left: 49%;
}
.elevenCloud {
    margin-top: 26%;
    margin-left: 69%;
}
.twelveCloud {
    margin-top: 39%;
    margin-left: 78%;
}
.icon {
    position: relative;
    display: inline-block;
    width: 12em;
    height: 10em;
   
    font-size: 1em; /* control icon size here */
  }
  .sunbg {
    background: url('../img/appbg.png') center center no-repeat;
    width: 460px;
    height: 640px;
    z-index: 9;
    position: absolute;
  }
  .cloud {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 3.6875em;
    height: 3.6875em;
    margin: -1.84375em;
    background: currentColor;
    border-radius: 50%;
    box-shadow:
      -2.1875em 0.6875em 0 -0.6875em,
      2.0625em 0.9375em 0 -0.9375em,
      0 0 0 0.375em #fff,
      -2.1875em 0.6875em 0 -0.3125em #fff,
      2.0625em 0.9375em 0 -0.5625em #fff;
  }
  .cloud:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -0.5em;
    display: block;
    width: 4.5625em;
    height: 1em;
    background: currentColor;
    box-shadow: 0 0.4375em 0 -0.0625em #000;
  }
  .cloud:nth-child(2) {
    z-index: 0;
    background: #000;
    box-shadow:
      -2.1875em 0.6875em 0 -0.6875em #fff,
      2.0625em 0.9375em 0 -0.9375em #fff,
      0 0 0 0.375em #fff,
      -2.1875em 0.6875em 0 -0.3125em #fff,
      2.0625em 0.9375em 0 -0.5625em #fff;
    opacity: 0.3;
    transform: scale(0.5) translate(6em, -3em);
    animation: cloud 4s linear infinite;
  }
  .cloud:nth-child(2):after { background: #fff; }
  
  .sun {
    position: absolute;
    top: 10%;
    left: 14%;
    width: 2.5em;
    height: 2.5em;
    margin: -1.25em;
    background: currentColor;
    border-radius: 50%;
    box-shadow: 0 0 0 0.375em #000;
    animation: spin 12s infinite linear;
  }
  .rays {
    position: absolute;
    top: -2em;
    left: 50%;
    display: block;
    width: 0.375em;
    height: 1.125em;
    margin-left: -0.1875em;
    background: #000;
    border-radius: 0.25em;
    box-shadow: 0 5.375em #000;
  }
  .rays:before,
  .rays:after {
    content: '';
    position: absolute;
    top: 0em;
    left: 0em;
    display: block;
    width: 0.375em;
    height: 1.125em;
    transform: rotate(60deg);
    transform-origin: 50% 3.25em;
    background: #000;
    border-radius: 0.25em;
    box-shadow: 0 5.375em #000;
  }
  .rays:before {
    transform: rotate(120deg);
  }
  
  
  /* Animations */ 
  
  @keyframes spin {
    100% { transform: rotate(360deg); }
  }
  
  @keyframes cloud {
    0% { opacity: 0; }
    50% { opacity: 0.3; }
    100% {
      opacity: 0;
      transform: scale(0.5) translate(-200%, -3em);
    }
  }
  
  @keyframes rain {
    0% {
      background: #0cf;
      box-shadow:
        0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
        -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
        -1.375em -0.125em 0 #0cf;
    }
    25% {
      box-shadow:
        0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
        -0.875em 1.125em 0 -0.125em #0cf,
        -1.375em -0.125em 0 rgba(255,255,255,0.2);
    }
    50% {
      background: rgba(255,255,255,0.3);
      box-shadow:
        0.625em 0.875em 0 -0.125em #0cf,
        -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
        -1.375em -0.125em 0 rgba(255,255,255,0.2);
    }
    100% {
      box-shadow:
        0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
        -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
        -1.375em -0.125em 0 #0cf;
    }
  }
  
  @keyframes lightning {
    45% {
      color: #fff;
      background: #fff;
      opacity: 0.2;
    }
    50% {
      color: #0cf;
      background: #0cf;
      opacity: 1;
    }
    55% {
      color: #fff;
      background: #fff;
      opacity: 0.2;
    }
  }

  .continued {
    height: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    background: #fff;
    width: 100%;
    position: absolute;
    z-index: 999;
  }

  .deadpool {
    position: absolute;
    bottom: 0;
    top: 260px;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
    -webkit-animation: jump 1.5s ease 0s infinite normal ;
    animation: jump 1.5s ease 0s infinite normal ;
}

.quote {
    background: url('../img/comic-tag-tag2-md.png') center center no-repeat;
    width: 300px;
    height: 237px;
    width: 300px;
    height: 237px;
    z-index: 999;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 301px;
    right: 25px;
    top: 11%;
}

.quote p {
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    top: 46px;
    left: 5px;
}

.firsttext {
    margin: 0;
    padding: 0;
}

.typewriter p {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    white-space: nowrap;
    /* Keeps the content on a single line */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@-webkit-keyframes jump {
    0%{
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    20%{
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40%{
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
    50%{
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    60%{
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
    80%{
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100%{
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @keyframes jump {
    0%{
      transform: translateY(0);
    }
    20%{
      transform: translateY(0);
    }
    40%{
      transform: translateY(-15px);
    }
    50%{
      transform: translateY(0);
    }
    60%{
      transform: translateY(-15px);
    }
    80%{
      transform: translateY(0);
    }
    100%{
      transform: translateY(0);
    }
  }