@media screen and (min-width:1366px) and (max-width:1919px) {
    .whole {
        margin: 322px 0 0 0;
    }
}
@media screen and (min-width:1024px) and (max-width:1365px) {
    .whole {
        margin: 322px 0 0 0;
    }
}
@media screen and (min-width:768px) and (max-width:1023px) {
    #clouds {
        padding: 100% 0;
    }
    .whole {
        margin: 322px 0 0 0;
    }
}
@media screen and (min-width:480px) and (max-width:767px) {
    #clouds {
        padding: 100% 0;
    }
    .whole {
        margin: 322px 0 0 0;
    }
}
@media screen and (min-width:240px) and (max-width:479px) {
    #clouds {
        padding: 100% 0;
    }
    .whole {
        margin: 322px 0 0 0;
    }
}