@mixin centerthingsposabs {
    position: absolute;
    top: 0;
    right: 0;
	left: 0;
	text-align: center;
}
@mixin typewrittersettingtext {
    position: relative;
    top: 0%;
    width: 55em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    left: 0%;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}
@mixin afterCloudSettingDimensions {
    width: $cloudAfterHeight;
    height: $cloudAfterWidth; 
}

@mixin boxshadowforappbg {
    -webkit-box-shadow: 0px 7px 21px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 7px 21px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 7px 21px 0px rgba(50, 50, 50, 0.75);
}
@mixin sunSettingPosition {
    margin-left: -10px;
    margin-top: 6px;
    opacity: 0;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 45px;
    top: 15px;
    z-index: 1;
}
@mixin cloudDimension {
    width: $cloudBgWidth;
    height: $cloudBgHeigt;
}
@mixin preloderPositioning {
position: absolute;
  margin-left: -55px;
  margin-top: -100px;
  height: 110px;
  width: 110px;
  left: 50%;
  top: 50%; 
}

@mixin rainSettings {
    position: absolute;
  width: 70px;
  height: 70px;
  margin-top: -32px;
  margin-left: 19px;
}

@mixin rainDrop {
    display: block;
    float: left;
    width: 3px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0px 0px 6px 6px;
}

@mixin appbg {
    background: $mainappbg;
    margin: 9% auto;
    width: $appbgwidth;
    height: $appbgheight;
    @include boxshadowforappbg;
    @include centerthingsposabs;
}