.line-1{
    position: relative;
    top: 0%;  
    width: 55em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
 
    text-align: center;
    white-space: nowrap;
    overflow: hidden;

}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 30em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}